{% extends 'base.html' %}

{% block contenido %}
<h1>Inicio</h1>
{% if user.is_authenticated %}
  
<div class="row text-center justify-content-center mt-5">
    <div class="card text-white bg-primary mb-5 mr-5" style="max-width: 18rem;">
        <div class="card-header"><a class="text-light" href="{% url 'carreras' %}">Carreras</a></div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-5 mr-5" style="max-width: 18rem;">
        <div class="card-header"><a class="text-light" href="{% url 'alumnos' %}">Alumnos</a></div>
        <div class="card-body">
        <h5 class="card-title">Control de alumnos</h5>
          <p class="card-text">Aqui se realiza las altas, modificaciones y bajas de los alumnos </p>
        </div>
      </div>
      <div class="card text-white bg-success mb-5 mr-5" style="max-width: 18rem;">
          <div class="card-header"><a class="text-light" href="{% url 'Materias' %}">Materias</a></div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-white bg-danger mb-5 mr-5" style="max-width: 18rem;">
          <div class="card-header"><a class="text-light" href="{% url 'Docentes' %}">Docentes</a></div>
        <div class="card-body">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-white bg-info mb-5 mr-5" style="max-width: 18rem;">
        <div class="card-header"><a class="text-light" href="{% url 'Grupos' %}">Grupos</a></div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>
{% endif %}

{% endblock contenido %}
    