{% extends 'base.html' %}

{% block contenido %}
<h1>Inicio</h1>
{% if user.is_authenticated %}
  
<div class="row text-center justify-content-center mt-5">
    <div class="card text-white bg-primary mb-5 mr-5" style="max-width: 18rem;">
        <div class="card-header"><a class="text-light" href="{% url 'carreras' %}">Carreras</a></div>
        <div class="card-body">
          <h5 class="card-title">Control de carreras</h5>
          <p class="card-text">Aqui se realizan las altas, modificaciones y bajas de las carreras.</p>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-5 mr-5" style="max-width: 18rem;">
        <div class="card-header"><a class="text-light" href="{% url 'alumnos' %}">Alumnos</a></div>
        <div class="card-body">
        <h5 class="card-title">Control de alumnos</h5>
          <p class="card-text">Aqui se realizan las altas, modificaciones y bajas de los alumnos.</p>
        </div>
      </div>
      <div class="card text-white bg-success mb-5 mr-5" style="max-width: 18rem;">
          <div class="card-header"><a class="text-light" href="{% url 'Materias' %}">Materias</a></div>
        <div class="card-body">
          <h5 class="card-title">Control de materias</h5>
          <p class="card-text">Aqui se realizan las altas, modificaciones y bajas de las materias.</p>
        </div>
      </div>
      <div class="card text-white bg-danger mb-5 mr-5" style="max-width: 18rem;">
          <div class="card-header"><a class="text-light" href="{% url 'Docentes' %}">Docentes</a></div>
        <div class="card-body">
          <h5 class="card-title">Control de docentes</h5>
          <p class="card-text">Aqui se realizan las altas, modificaciones y bajas de los docentes.</p>
        </div>
      </div>
      <div class="card text-white bg-info mb-5 mr-5" style="max-width: 18rem;">
        <div class="card-header"><a class="text-light" href="{% url 'Grupos' %}">Grupos</a></div>
        <div class="card-body">
          <h5 class="card-title">Control de grupos</h5>
          <p class="card-text">Aqui se realizan las altas, modificaciones y bajas de los grupos de materias.</p>
        </div>
      </div>
</div>
{% endif %}

{% endblock contenido %}
    